.home {
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
  min-height: 100vh;
  padding: 2rem;
}

.image-container {
  
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 0px;
}

.image-list {
  list-style: none;
  display: flex;
}
.search-box {
  position: relative;
  display: flex;
}
.search-input {
  width: 500px;
  height: 50px;
  font-size: 20px;
  border-radius: 1rem;
  align-items: center;
  margin-left: 35%;
  margin-top: 80px;
  padding-left: 10px;
  position: relative;
}
.search-icon {
  position: absolute;
  margin-top: 90px;
  margin-left: 60%;
  font-size: xx-large;
}
.search-input::placeholder {
  font-size: large;
  text-align: center;
  transition-timing-function: ease-in-out;
}
.clip-shape {
  width: 500px;
  height: 350px;
  color: white;
  font-size: large;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 25%;
  padding: 50px;
  border-radius: 25px;
}
.assistant {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  text-align: center;
  width: auto;
  margin-left: 350px;
  margin-top: 150px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
}

.image {
  position: relative; /* needed for absolute buttons */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 40vw;
  border-radius: 2rem;
  left: 20%;
}

.slider-img {

  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: 10rem;
  transition: transform 0.3s ease;
}

.image .left-btn {
    background: none;
  border:none;
  outline:none;
  font-size: 2.5rem;
  color: white;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.image .right-btn {
  background: none;
  border:none;
  outline:none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.middlePart {
  background-image: url("https://www.shutterstock.com/shutterstock/videos/1086192224/thumb/7.jpg?ip=x480");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 1rem;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.text {
  font-size: 100px;
  color: white;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.menu-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu-card:hover {
  transform: scale(1.05);
}

.menu-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu-card-details {
  padding: 10px;
  text-align: center;
}
